.DS_Store
/.build
/.vscode
/.code
/Packages
/docs
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
/Sources/Swift2DFPlayground
